{% extends 'user_authentication/basetemplate.html' %}
<style>
      .center {margin: auto;
  width: 50%;
  padding: 10px;
          border: 3px gray;
      }
</style>

    {% block content %}
        <div class="center">
            <body>
                    {%  for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>Message:</strong> {{ message }}
                    </div>
                    {% endfor %}
                <div class="center"><h3> Sign In</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                        <label for="Username">User Name:</label>
                        <input type="text" id="username" name="username" placeholder="enter username" required>
                        <br><br>
                        <label for="pass1">Password: </label>
                         <input type="password"  id="pass1" name="pass1" placeholder="enter password" required><br><br>

                        <div class="center">
                        <button type="submit">sign in </button>
                        </div>
                </form>
            </body>
        </div>
    {% endblock %}
