{% extends 'user_authentication/basetemplate.html' %}
<style>
      .center {margin: auto;
  width: 25%;
  padding: 10px;
          border: 3px gray;
          padding: 10px;

}
</style>

    {% block content %}
        <div class="center">
        <body>
            {%  for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message }}
                </div>
            {% endfor %}
            <div class="center">
        <h3> Sign Up</h3></div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                  <label for="username">User Name:</label>
                  <input type="text" id="username" name="username" placeholder="create a username" required><br><br>
                  <label for="fname">First name:</label>
                  <input type="text" id="fname" name="fname" value=" " required><br><br>
                  <label for="lname">Last name:</label>
                  <input type="text" id="lname" name="lname" value=" " required><br><br>
                    <label for="email">Email:</label>
                  <input type="email" id="email" name="email" placeholder="__@__.com" required><br><br>

                   <label for="pass1">Password: </label>
                  <input type="password"  id="pass1" name="pass1" placeholder="create password" required><br><br>
                    <label for="pass2">Password: </label>
                  <input type="password" id="pass2" name="pass2" placeholder="confirm password " required><br><br>

                    <div class="center">
                        <button type="submit">create Account</button>
                    </div>
            </form>
        <div>

        </div>
        </body>
    </div>
    {% endblock %}
