{% extends 'user_authentication/basetemplate.html' %}
<style>
      .center {margin: auto;
  width: 25%;
  padding: 10px;

}
</style>
{% block content %}
    <h3 class="center">Update Profile</h3>
    {%  for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message }}
                </div>
    {% endfor %}
    <form method="post" class="center">
    {% csrf_token %}
        {{ form.as_p}}

                <label for="username">User Name:</label>
                <input type="text" id="username" name="username" value= {{ username }} readonly required ><br><br>
                <label for="newfname">First name:</label>
                <input type="text" id="newfname" name="newfname" value={{ fname }} required><br><br>
                <label for="newlname">Last name:</label>
                <input type="text" id="newlname" name="newlname" value={{ lname }}  required ><br><br>
                <label for="newemail">Enter New Email:</label>
                <input type="email" id="newemail" name="newemail" value={{ email }} ><br><br>

                <button type="submit">Update Profile </button>

    </form>
{% endblock %}